div(class="span12")
  div(class="content")
    div(class="content-wrapper", id="home-content")
        h1 Home page
      
    div(class="content-wrapper", id="find-songs-content")
        h1 Find songs
        ul(class="search-results")
    
    div(class="content-wrapper", id="my-compilation-content")
        h1 My compilation
        
        div(class="compilations")
    
    div(class="content-wrapper", id="about-content")
        h1 About