

script(id="player-template", type="text/html")
  div(id="player-video")
    div(id="player") Loading...
    div(id="player-video-info")
  div(id="player-controls")
    a(href="javascript:void(0)", id="stop") stop
    a(href="javascript:void(0)", id="pause") pause
    a(href="javascript:void(0)", id="play") play