div(class="navbar navbar-fixed-top")
  div(class="navbar-inner")
    div(class="container")
      a(href="/", class="brand", alt="I Love These Songs")
        img(src="images/logo.png", title="I Love These Songs")
      form(class="navbar-search pull-right")
        div(class="input-append")
          input(type="text", class="search-query", placeholder="Search...")
          label(class="add-on")
            input(type="submit", class="search-submit")       
      ul(class="nav")
        li
          a(id="home", href="#home") Home
        li
          a(id="find-songs", href="#find-songs") Find songs
        li
          a(id="about", href="#about") About